<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% set WA = 'http://wa.me/?text=https%3A%2F%2Fthe7up7down.herokuapp.com' %}
{% set FB = 'https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fthe7up7down.herokuapp.com%2F' %}
{% set TW = 'https://twitter.com/intent/tweet?url=http%3A%2F%2Fthe7up7down.herokuapp.com%2F&text=' %}
{% set PI = 'http://pinterest.com/pin/create/button/?url=http%3A%2F%2Fthe7up7down.herokuapp.com%2F&media=&description=' %}
{% set LI = 'http://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Fthe7up7down.herokuapp.com%2F&title=' %}
{% set TU = 'http://www.tumblr.com/share?v=3&u=http%3A%2F%2Fthe7up7down.herokuapp.com%2F&t=' %}

<a href="{{WA}}" class="fa fa-whatsapp"></a>
<a href="{{FB}}" class="fa fa-facebook"></a>
<a href="{{TW}}" class="fa fa-twitter"></a>
<a href="{{PI}}" class="fa fa-pinterest"></a>
<a href="{{LI}}" class="fa fa-linkedin"></a>
<a href="{{TU}}" class="fa fa-tumblr"></a>
<style>
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-whatsapp {
  color : #4FCE5D;
}


.fa-facebook {
  color : #3b5998;
}


.fa-twitter {
  color : #00acee;
}


.fa-linkedin {
  color : #0e76a8;
}


.fa-pinterest {
  color : #c8232c;
}


.fa-tumblr {
  color : #34526f;
}



</style>
